<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <header><%- include('./partials/header') %></header>
    <main>
        <h1>
            <%= family.name %> page
        </h1>
        <P>
            <%= family.description %>
        </P>

        <!-- list of genesus -->
        <ul>
            <% genus_list.forEach(genus=> { %>
                <li><a href="<%= genus.url %>">
                        <%= genus.name %>
                    </a></li>
                <% }); %>
        </ul>
    </main>
</body>

</html>