<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <header><%- include('./partials/header') %></header>
    <main>
        <h1>
            <%= title %>
        </h1>
        <dl>
            <% for (let i=0; i < family_list.length; i++) { %>

                <dt>
                    <a href="<%= family_list[i].url %>">
                        <%= family_list[i].name %>
                    </a>
                </dt>
                <dd>
                    <%= family_list[i].description %>
                </dd>
                <br>
                <% } %>
        </dl>
    </main>
</body>

</html>