<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <header><%- include('./partials/header') %></header>
    <main>
        <h1>
            <%= title %>
        </h1>

        <ul>
            <% genus_list.forEach(genus=> { %>
                <li>
                    <a href="<%= genus.url %>">
                        <%= genus.name %>
                    </a>
                    of the
                    <a href="<%= genus.family.url %>">
                        <%= genus.family.name + " family" %>
                    </a>
                </li>
                <% }) %>
        </ul>

        <a href="/catalog/genus/create">Create new genus</a>
    </main>
</body>

</html>