<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <header><%- include('./partials/header') %></header>
    <main>
        <h1>
            <%= title %> page
        </h1>
        <p>This is the page of the <%= genus.name %> genus.</p>


        <% if(genus_species) { %>
            <% console.log(genus_species) %>
                <p>list of species in genus</p>
                <ul>
                    <% genus_species.forEach(species=> { %>
                        <li>
                            <%= species.common_name %>
                        </li>
                        <% }) %>
                </ul>
                <% } else { %>
                    <p>There are no species in this Genus.</p>
                    <% } %>

                        <a href="<%= genus.url %>/update">Update genus</a>
                        <a href="<%= genus.url %>/delete">Delete genus</a>
    </main>

</body>

</html>