<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <title>title</title>
</head>

<body>
  <header><%- include('./partials/header') %></header>
  <main>
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to my homepage</p>

    <ul>
      <li>
        Number of families: <%= data.families_count %>
      </li>
      <li>
        Number of genesus: <%= data.genus_count %>
      </li>
      <li>
        Number of species: <%= data.species_count %>
      </li>
    </ul>
  </main>
</body>

</html>