<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <header><%- include('./partials/header') %></header>
    <main>
        <h1>
            <%= title %>
        </h1>

        <% if(species_instances.length> 0) { %>
            <p>Remove these animals first before deleting the species</p>
            <% species_instances.forEach(animal=> { %>
                <p><a href="<%= animal.url %>/delete">
                        <%= animal.name %>
                    </a></p>
                <% }) %>
                    <% } else { %>
                        <form action="" method="post" novalidate>
                            <input type="hidden" name="speciesid" value="<%= species._id %>">
                            <button type="submit">Delete species</button>
                        </form>
                        <% } %>
    </main>
</body>

</html>