<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <header><%- include('./partials/header') %></header>
    <main>
        <h1>
            <%= title %>
        </h1>
        <ul>
            <% species_list.forEach(species=> { %>
                <li>
                    <a href="<%= species.url %>">
                        <%= species.common_name %>
                    </a> (<%= species.scientific_name %>)
                </li>
                <% }); %>
        </ul>
    </main>
</body>

</html>