<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <header><%- include('./partials/header') %></header>
    <main>
        <h1>
            <%= title %>
        </h1>

        <!-- Create Species form -->
        <form action="" method="post" novalidate>
            <!-- Name -->
            <label for="species_name">Name</label>
            <input type="text" name="species_name" id="species_name"
                value="<%= (typeof species !== 'undefined') ? species.common_name : '' %>" required>

            <!-- Scientific Name -->
            <label for="scientific_name">Scientific name</label>
            <input type="text" name="scientific_name" id="scientific_name"
                value="<%= (typeof species !== 'undefined') ? species.scientific_name : '' %>" required>

            <!-- description -->
            <label for="species_description">Description</label>
            <textarea name="species_description" id="species_description" cols="30" rows="10"
                required><%= (typeof species !== 'undefined') ? species.description : '' %></textarea>

            <!-- Family -->
            <select name="species_family" id="species_family" required>
                <option value="">-- Select a Family --</option>
                <% family_list.forEach(family=> { %>
                    <option value="<%= family._id %>">
                        <%= family.name %>
                    </option>
                    <% }) %>
            </select>

            <!-- population -->
            <label for="population"></label>
            <input type="number" id="population" name="population" value="0" min="0" max="0">

            <!-- Genus -->
            <select name="species_genus" id="species_genus" required>
                <option value="">-- Select a Genus --</option>
                <% genus_list.forEach(genus=> { %>
                    <option value="<%= genus._id %>">
                        <%= genus.name %>
                    </option>
                    <% }) %>
            </select>

            <button type="submit">Create species</button>
        </form>
        <!-- Errors -->
        <% if(typeof errors !=='undefined' ) { %>
            <ul>
                <% errors.forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>
    </main>
</body>

</html>