<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <header><%- include('./partials/header') %></header>
    <main>
        <h1>
            <%= title %> page
        </h1>
        <p>
            <%= species.description %>
        </p>

        <ul>
            <% species_instances.forEach(animal=> { %>
                <li>
                    <a href="<%= animal.url %>">
                        <%= animal.name %>
                    </a>
                </li>

                <% }) %>
        </ul>
    </main>
</body>

</html>