<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <header><%- include('./partials/header') %></header>
    <main>
        <h1>
            <%= title %>
        </h1>

        <ul>
            <% for (let i=0; i < speciesinstance_list.length; i++) { %>
                <li>
                    <%= speciesinstance_list[i].name %> the
                        <a href="<%= speciesinstance_list[i].url %>">
                            <%= speciesinstance_list[i].species.common_name %>
                        </a>
                </li>
                <% } %>
        </ul>

        <a href="/catalog/speciesinstance/create">Add animal to zoo</a>
    </main>
    <footer>

    </footer>
</body>

</html>